<aside id="sidebar">

    <div id="nav-blog" class="sidebar-item">
        <h3>Puedes hacer esto</h3>
        <a class="btn btn-success">Añadir pelicula</a>
    </div>

    <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Encuentra lo que buscas</p>

        <form>
            <div class="form-group">
                <label for="title">Nombre</label>
                <input type="text" name="nombre" />
            </div>
            <input type="submit" name="submit" value="Buscar" class="btn btn-success"/>
        </form>

    </div>

</aside>