<section id="content">

    <h1 class="subheader">{{ serie.title }}</h1>

    <div class="center item-detail">

        <div class="data">

            <div class="image">

                <img src="assets/images/no-image.png" *ngIf="serie.image==''" />
                <img src="{{ serie.image }}" *ngIf="serie.image!=''" />

            </div>
            
            <div class="information">

                <dl>

                    <dt>Año:</dt>
                    <dd>{{serie.year}}</dd>

                    <dt>Género:</dt>
                    <dd>{{genders}}</dd>

                    <dt>Temporadas:</dt>
                    <dd> {{ totalSeasons }}</dd>
                    
                    <dt>Tamaño:</dt>
                    <dd>{{ serieSize }} GB</dd>

                    <dt>Visto:</dt>
                    <dd>{{serie.viewed}}</dd>

                    <dt>Creado:</dt>
                    <dd>{{serie.created_at | amLocal | amDateFormat: 'DD/MM/YYYY'}}</dd>

                </dl>

            </div>

        </div>

        <div class="clearfix"></div>
        
        <div class="synopsis">

            <h2>Sinopsis</h2>

            <p>{{ serie.synopsis }}</p>

        </div>

        <div class="clearfix"></div>

        <div class="buttons">
            <a [routerLink]="['/serie/', serie._id, 'crear-temporada']" class="btn btn-season">Añadir Temporada</a>
            <a [routerLink]="['/serie/editar', serie._id]" class="btn btn-warning">Editar</a>
            <a (click)="deleteSerie(serie._id)" class="btn btn-danger">Borrar</a>
        </div>

        <div class="clearfix"></div>

        <cdk-accordion class="accordion" *ngIf="serie.seasons">
            <cdk-accordion-item
                *ngFor="let season of serie.seasons; let index = index;"
                #accordionItem="cdkAccordionItem"
                class="accordion-item"
                role="button"
                tabindex="0"
                [attr.id]="'accordion-header-' + index"
                [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index">
                <div [ngClass]="{ 'accordion-item-header': !accordionItem.expanded, 'accordion-item-header-expanded': accordionItem.expanded }"
                     (mouseenter)="!accordionItem.expanded"
                >
                    <div class="accordion-item-description"><strong>{{ season.title }}</strong> ({{ totalChapters[index] }} Capítulos) - 
                        <strong>Tamaño: </strong>{{ seasonSize[index] }} GB /
                        <strong>Visto: </strong>{{ season.viewed }}
                    </div>

                    <div #icons class="accordion-icons">
                        <a [routerLink]="['/serie', serie._id, 'temporada', season._id, 'crear-capitulo']">
                            <img src="assets/images/add_icon_white.png" title="Añadir Capítulo" class="accordion-icon">
                        </a>
                        <a [routerLink]="['/serie', serie._id, 'editar-temporada', season._id]">
                            <img src="assets/images/edit_icon_white.png" title="Editar Temporada" class="accordion-icon">
                        </a>
                        <a (click)="deleteSeason(season._id)">
                            <img src="assets/images/delete_icon_white.png" title="Borrar Temporada" class="accordion-icon">
                        </a>
                        <img src="assets/images/arrow_down_icon_white.png" title="Mostrar Capítulos" (click)="accordionItem.toggle()" *ngIf="!accordionItem.expanded" class="accordion-icon accordion-arrow-down">
                        <img src="assets/images/arrow_up_icon_white.png" title="Ocultar Capítulos" (click)="accordionItem.toggle()" *ngIf="accordionItem.expanded" class="accordion-icon accordion-arrow-up">

                    </div>

                </div>
                
                    <div
                        *ngFor="let chapter of season.chapters"
                        class="accordion-item-body"
                        role="region"
                        [style.display]="accordionItem.expanded ? '' : 'none'"
                        [attr.id]="'accordion-body-' + index"
                        [attr.aria-labelledby]="'accordion-header-' + index"
                    >
                        <div class="accordion-item-description">
                            <strong>* {{ chapter.title }}</strong> ({{ chapter.resolution }} {{ chapter.codec }}) -
                            <strong>Tamaño:</strong> {{ chapter.size }} GB /
                            <strong>Visto:</strong> {{ chapter.viewed }}
                        </div>

                        <div #icons class="accordion-icons">

                            <a [routerLink]="['/serie', serie._id, 'editar-capitulo', chapter._id]">
                                <img src="assets/images/edit_icon_white.png" title="Editar Capítulo" class="accordion-icon">
                            </a>
                            <a (click)="deleteChapter(chapter._id)">
                                <img src="assets/images/delete_icon_white.png" title="Borrar Capítulo" class="accordion-icon">
                            </a>

                        </div>

                    </div>
                    <div
                        *ngIf="!season.chapters || season.chapters.length==0"
                        class="accordion-item-body"
                        role="region"
                        [style.display]="accordionItem.expanded ? '' : 'none'"
                    >
                        Esta temporada no tiene capítulos
                        
                    </div>
            </cdk-accordion-item>
        </cdk-accordion>

    </div>

</section>

